<!doctype html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DMFI</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/video-js.css">
        <link rel="stylesheet" href="css/main.css">
    </head>

    <body>
        <div id="pt-main" class="pt-perspective">
                <div class="page loading">
                        <header class="header row">
                            <h2 class="txtColor"><img src="/img/logo.png" class="logo" alt="DMFI TV" /></h2>
                        </header>
                </div>
                <div id="fsTube" class="page video">
                        <header class="header row">
                            <h2 class="txtColor"><img src="/img/logo.png" class="logo" alt="DMFI TV" /></h2>
                        </header>
                </div>
                <div class="page dashboard">
                    <div class="flexContainer">
                        <header class="header row cf">
                            <h1 class="txtColor">dashboard digital</h1>
                            <h2 class="txtColor"><img src="/img/logo.png" class="logo" alt="DMFI TV" /></h2>
                        </header>
                        <main class="container">
                            <div class="bandeau row"></div>
                            <section class="contentWrapper">
                                <div class="column first">
                                    <header class="btnColor"><span class="headerPicto"></span>les vidéos DMFI</header>
                                    <div class="row views">
                                        <div class="row desc txtColor txtReg"><span class="txtBig values"></span> vues</div>
                                        <div class="magic">
                                            <div class="line" style="width:75%" data-width="75"></div>
                                        </div>
                                    </div>
                                    <div class="row videos">
                                        <div class="row desc txtColor txtReg"><span class="txtBig values"></span> vidéos générées</div>
                                        <div class="magic">
                                            <div class="line" style="width:66%" data-width="66"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column second">
                                    <header class="btnColor"><span class="headerPicto"></span>les réseaux sociaux</header>
                                    <div class="row social">
                                        <div class="line txtColor txtReg followers"><span class="row txtBig values"></span>followers</div>
                                        <div class="line txtColor txtReg tweets"><span class="row txtBig values"></span>tweets</div>
                                    </div>
                                    <div class="row facebook">
                                        <div class="line txtColor txtReg"><span class="row txtBig values"></span>fans</div>
                                    </div>
                                </div>
                                <div class="column third">
                                    <header class="btnColor"><span class="headerPicto"></span>en ce moment</header>
                                    <div class="row collabs">
                                        <div class="row desc txtColor txtReg"><span class="txtBig values"></span> collaborateurs</div>
                                        <div class="magic">
                                            <div class="line" style="width:100%"></div>
                                        </div>
                                    </div>
                                    <div class="row feelings">
                                        <div class="row txtColor txtReg">humeur générale</div>
                                        <div class="figure"></div>
                                    </div>
                                </div>
                                <div class="column fourth">
                                    <header class="btnColor"><span class="headerPicto"></span>suivi conso DMFI sur 1 année</header>
                                    <div class="row conso1 cf">
                                        <div class="cell txtColor txtReg caf fleft">
                                            <div class="row picto"></div>
                                            <span class="row txtSem values"></span>
                                            cafés consommés
                                        </div>
                                        <div class="cell txtColor txtReg sdw fleft">
                                            <div class="row picto"></div>
                                            <span class="row txtSem values"></span>
                                            sandwiches
                                        </div>
                                    </div>
                                    <div class="row conso2 cf">
                                        <div class="cell txtColor txtReg ppt fleft">
                                            <div class="row picto"></div>
                                            <span class="row txtSem values"></span>
                                            slides powerpoint
                                        </div>
                                        <div class="cell txtColor txtReg sms fleft">
                                            <div class="row picto"></div>
                                            <span class="row txtSem values"></span>
                                            sms échangés
                                        </div>
                                    </div>
                                </div>
                        </section>
                            <div class="bandeau row"></div>
                        </main>
                        <footer class="footer row"></footer>
                    </div>
                </div>
                <div class="page newsA">
                    <div class="flexContainer">
                        <header class="header row cf">
                            <h1 class="txtColor">actus digitales</h1>
                            <h2 class="txtColor"><img src="/img/logo.png" class="logo" alt="DMFI TV" /></h2>
                        </header>
                        <main class="container">
                            <div class="bandeau row"></div>
                            <section class="contentWrapper proNews">
                            </section>
                            <div class="bandeau row"></div>
                        </main>
                        <footer class="footer row"></footer>
                    </div>
                </div>
                <div class="page newsB news">
                    <div class="flexContainer">
                        <header class="header row cf">
                            <h1 class="txtColor">actus digital</h1>
                            <h2 class="txtColor"><img src="/img/logo.png" class="logo" alt="DMFI TV" /></h2>
                        </header>
                        <main class="container">
                            <div class="bandeau row"></div>
                            <section class="contentWrapper actus">
                            </section>
                            <div class="bandeau row"></div>
                        </main>
                        <footer class="footer row"></footer>
                    </div>
                </div>
                <div class="page pdf">
                    <div class="flexContainer">
                        <header class="header row cf">
                            <h1 class="txtColor">à l'affiche</h1>
                            <h2 class="txtColor"><img src="/img/logo.png" class="logo" alt="DMFI TV" /></h2>
                        </header>
                        <main class="container">
                            <div class="bandeau row"></div>
                            <section class="contentWrapper">
                            </section>
                            <div class="bandeau row"></div>
                        </main>
                        <footer class="footer row"></footer>
                    </div>
                </div>
        </div>
        <script type="text/template" class="template-pdf">
            <div class="figureBg">
                <div
            style="background-image:url(http://dmfi.hubi.org/files/<%= pdf[0].image %>);"></div>
            </div>
            <div class="figureImg"
            style="background-image:url(http://dmfi.hubi.org/files/<%= pdf[0].image %>);"></div>
        </script>
        <script type="text/template" class="template-astuce">
                            <article class="astuce bgAstuce">
                                <div class="figureImg"
                                    style="background-image:url(<%= item.image %>);"></div>
                                <div class="figureTxt">
                                        <span class="arrow-left"></span>
                                        <%= item.title %>
                                </div>
                            </article>
        </script>
        <script type="text/template" class="template-proNews">
                        <article class="actu actuBig column bgReg">
                            <div class="figureImg"
                                        style="background-image:url(<%= news[0].image %>);"></div>
                            <div class="figureTxt">
                                <span class="arrow-top"></span>
                                <h3><%= news[0].title %></h3>
                                <!--<p class="txtReg"><%= news[0].text %></p>-->
                            </div>
                        </article>
                        <div class="column">
                            <article class="actu actuSmall bgReg">
                                <div class="figureTxt">
                                    <span class="arrow-right"></span>
                                    <h3><%= news[1].title %></h3>
                                    <!--<p><%= news[1].text %></p>-->
                                </div>
                                <div class="figureImg"
                                    style="background-image:url(<%= news[1].image %>);"></div>
                            </article>
                            <article class="actu actuSmall bgReg">
                                <div class="figureImg"
                                    style="background-image:url(<%= news[2].image %>);"></div>
                                <div class="figureTxt">
                                    <span class="arrow-left"></span>
                                    <h3><%= news[2].title %></h3>
                                    <!--<p><%= news[2].text %></p>-->
                                </div>
                            </article>
                        </div>
                        <div class="column astuces">
                        </div>
        </script>
        <script type="text/template" class="template-actus">
                        <article class="actu actuBig cf bgCine">
                            <div class="figureImg fleft"
                                        style="background-image:url(<%= actusCine[0].image %>);"></div>
                            <div class="figureTxt fleft">
                                <span class="arrow-left"></span>
                                avec cineday cette semaine
                            </div>
                        </article>
                        <div class="column">
                            <div class="row actusAfp">
                                <article class="actu actuSmall bgReg">
                                    <div class="figureTxt">
                                            <span class="arrow-right"></span><%= actusAfp[0].title %>
                                    </div>
                                    <div class="figureImg"
                                        style="background-image:url(<%= actusAfp[0].image %>);"></div>
                                </article>
                                <article class="actu actuSmall bgReg">
                                    <div class="figureTxt">
                                            <span class="arrow-right"></span><%= actusAfp[1].title %>
                                    </div>
                                    <div class="figureImg"
                                        style="background-image:url(<%= actusAfp[1].image %>);"></div>
                                </article>
                            </div>
                            <div class="row actusSport">
                                <article class="actu actuSmall bgSport">
                                    <div class="figureImg"
                                        style="background-image:url(<%= actusSport[0].image %>);"></div>
                                    <div class="figureTxt">
                                            <span class="arrow-left"></span><%= actusSport[0].title %>
                                    </div>
                                </article>
                                <article class="actu actuSmall bgSport">
                                    <div class="figureImg"
                                        style="background-image:url(<%= actusSport[1].image %>);"></div>
                                    <div class="figureTxt">
                                            <span class="arrow-left"></span><%= actusSport[1].title %>
                                    </div>
                                </article>
                                </div>
                        </div>
        </script>
        <script src="js/libs.js"></script>
        <script src="js/fsTube.js"></script>
        <script src="js/scripts.js"></script>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
 <filter id="blur">
   <feGaussianBlur stdDeviation="5" />
   </filter>
</svg>
</body>
</html>
